extends ../_layout

- var num = 0

block content
  section.title
    h1 #{current.path[0]}
  for post in public.blog._data.entries
    if post.published
      num += 1;
      li: a(href="#{post.url}") #{post.title}