- var data = public._data

button(type="button", role="button", aria-label="Toggle Navigation", class="lines-button arrow x", id="showLeftPush")
  span.lines
nav(class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left", id="cbp-spmenu-s1")
  h3 #{site_name}
  for section in data.sections
    a(class="#{ current.path[0] == section.name ? 'active' : '' }", href="#{section.route}") #{section.name}